<template name="contact">
	<div id='contact' class="container-fluid content-section tab-link-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="text-center">
						<h1>Contact Us!</h1>
						<p>Feel free to email me if you want to say hi / get involved!</p>
						<p>suraj@blinkdotauk.com OR Follow us on twitter below</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>