<template name="discord">
    <!-- Profile Section -->
    <!--     <section class="content-section text-center"> -->
    <div id="discord" class="container-fluid content-section tab-link-mid">
        <div class="row">
            <div class="col-md-12 discord-container text-center">
                <iframe src="https:/discordapp.com/widget?id=148706487747739648&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <!--     </section> -->
</template>