<template name="footer">
    <div id="footer" class="container-fluid content-section">
        <div class="row">
            <div class="footerBG"></div>
            <div class="col-md-12 footer-container">
                <img src="/img/edit.png" class="footer-image img-responsive">
                <div class="copyright">
                 COPYRIGHT (C) 2016 BLINK DOTA UK ALL RIGHTS RESERVED. | SPONSORED BY OVERCLOCKERSUK
                 <p>
                    <iframe style="width: 240px; height: 25px; padding-top:5px;" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=blinkesportsuk" frameborder="0" scrolling="no" ></iframe>
                </p>
            </div>
            </div>
        </div>
    </div>
</template>