<template name="gallery">
	<div id='gallery' class="container-fluid content-section tab-link-mid">
		<div class="row">
			<div class="col-md-12">
				<div class="coming-soon">
					<p>Coming Soon!</p>
				</div>
			</div>
		</div>          
	</div>
</template>