<head>
	<title>BLINK DOTA UK</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
	{{> navbarTop}}
	<div class="container-fluid">
		<div class="row banner-bg">
			<div class="col-sm-12">
				<img src="/img/blinkdotauk_banner.png" class="img-responsive banner-img center-block">
			</div>
		</div>
	</div>
	{{> navbarCentre}}
	
	{{> teams}}
	{{> teamProfilesFull}}
	{{> rules}}
	{{> stream}}
	{{> toornament}}
	<!-- {{> discord}} -->
	{{> gallery}}

	{{> profiles}}
	{{> profilesFull}}
	{{> contact}}
	{{> overview}}
	<!-- {{> hello}} -->
	{{> footer}}
</body>

<template name="hello">
	<button>Click Me</button>
	<p>You've pressed the button {{counter}} times.</p>
</template>