<template name="navbarCentre">
	<nav class="navbar-default navbar-middle navbarBGrepeat">
		<div class="navbarShadow"></div>
<!-- 		<div class="navbarBGMid"></div> -->
		<div class="container-fluid">
        <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-mid navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
			<!-- 				<a class="navbar-brand" href="#">
								<img src="/img/blinkdota_logo_notext.png" class="brand-logo">BlinkDotaUK
							</a> -->
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse collapse-buttons" id="bs-example-navbar-collapse-2">
						<ul class="nav navbar-nav">
							<li><a class="tab-link" href="#overview">Overview</a></li>
<!-- 							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
						            <li><a href="#teams" class="tab-link">Try Hard</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#teams" class="tab-link">Limbo</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#teams" class="tab-link">Scrub Tier</a></li>
						        </ul>
							</li> -->
							<li><a class="tab-link" href="#teams">Teams</a></li>
							<li><a class="tab-link" href="#rules">Rules</a></li>
							<li><a class="tab-link" href="#stream">Stream</a></li>
							<li><a class="tab-link" href="#toornament">Toornament</a></li>
							<!-- <li><a class="tab-link" href="#discord">Discord</a></li> -->
							<li><a class="tab-link" href="#gallery">Gallery</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
		</div><!-- /.container-fluid -->
	</nav>
</template>