<template name="navbarTop">
	<nav class="navbar-default navbar-top navbarBGrepeat">
		<div class="navbarShadow"></div>
		<div class="container-fluid">
        <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header brand-logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/">
					<img src="/img/blinkdota_logo_notext.png" class="img-logo" >
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a class="tab-link" href="#profiles">Admin Profiles</a></li>
					<li><a class="tab-link" href="#contact">Contact Us</a></li>
				</ul>
<!-- 	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	    </form> -->
<!-- 	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Link</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	    </ul> -->
	</div><!-- /.navbar-collapse -->
</div>
</div><!-- /.container-fluid -->
</nav>
</template>