<template name="overview">
    <div id='overview' class="container-fluid content-section tab-link-mid">
        <div class="container">
            <div class="row center">
                <div class="overviewBG"></div>
                <div class="overview-content">
                    <div class="col-md-6">
                        <h1 style="text-align:center">About</h1>
                        <p class="starter">For BDL 2.0 there will be <span class="orange">3 divisions</span>:</p>
                        <ul>
                            <li>"Tryhard"  (MMR > 4.5k)</li>
                            <li>"Limbo"  (MMR ~ 3k / 4.5k)</li>
                            <li>"Scrub" </li>
                        </ul>

                        <p class="starter">Also please note that spaces will be limited to <span class="orange">6 Teams per Division</span> and MMR brackets are <span class="orange">guide lines only</span>. I've introducted the tiers because the skill range was a little too wide in league 1.</p>
                    </div>

                    <div class="col-md-6">
                        <h1 style="text-align:center">League Format</h1>
                        <ul>
                            <li>Sign ups: <span class="orange">CLOSED</span></li>
                            <li>Games Begin: 21st March</li>
                            <li>Round Robin Bo2 (Bo2's will not be played consecutively)</li>
                            <li><span class="orange">One game</span> played per team <span class="orange">per week</span></li>
                            <li>Top half enter playoffs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>