<template name="profiles">
    <!-- Profile Section -->
    <!--     <section class="content-section text-center"> -->
    <div class="profile-section tab-link-top" id="profiles">
        <div class="container-fluid">

            <div class="container">
                <h2 class="banner-header">Who We Are</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="suraj">
                            <div class="image-holder">
                                <img class="team-image" src="/img/suraj.jpg">
                            </div>
                            <div class="profile-info">
                                <h1 class="team-name">Suraj</h1>
                                <h2 class="team-name">Lead Organiser</h2>
                                <p>Scrub Overlord. Uneccessarily optimistic. Hero Spammer. MMR too low to play in "proper" leagues so started this bad boy....ironically don't get to play in this either -.-</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="zam">
                            <div class="image-holder">
                                <img class="team-image" src="/img/zam.jpg">
                            </div>
                            <div class="profile-info">
                                <h1 class="team-name">Zambrella</h1>
                                <h2 class="team-name">Residential Caster</h2>
                                <p>Hi, I'm Zambrella and I'm the one that will be calling you out on your brilliant plays... I've been casting for about a year now and I really enjoyed casting the first season's games so bring on season 2! See you all on the battlefield!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="dan">
                            <div class="image-holder">
                                <img class="team-image" src="/img/dan.PNG">
                            </div>
                            <div class="profile-info">
                                <h1 class="team-name">Dan 'Bateman' Scott Lintott</h1>
                                <h2 class="team-name">Try-Hard Admin</h2>
                                <p>Dan 'Bateman' Scott Lintott has been involved in the Dota 2 scene for around 3 years. He comes from a background of journalism an has written/edited for GosuGamers, 2P.com and Na'Vi. He is currently the team manager of Choke Gaming's new Dota 2 roster and wants to help grow the UK Dota scene through helping teams and honing his skills as an eSports analyst.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="sam">
                            <div class="image-holder">
                                <img class="team-image" src="/img/sam.png">
                            </div>
                            <div class="profile-info">
                                <h1 class="team-name">Midnight</h1>
                                <h2 class="team-name">Limbo Admin</h2>
                                <p>I'm Midnight, your friendly neighbourhood Admin. I've been playing  DotA for about 2 and a half years. I'm a total nub and don't know what I'm doing half the time, but I'm one hell of an organiser, so I decided that getting involved in helping other players compete against each other is my higher calling.</p>
                            </div>   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="matt">
                            <div class="image-holder">
                                <img class="team-image" src="/img/matt.jpg">
                            </div>
                            <div class="profile-info">
                                <h1 class="team-name">Matt</h1>
                                <h2 class="team-name">Scrub Admin</h2>
                                <p>Hey I'm Matt aka Epic_misclick. Been play Dota since Warcraft 3 days but I'm still a low level scrub :D I'm always available to chat so send me a message if you need help with anything. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     </section> -->
</template>