<!-- <template name="profiles">
    <div class="profile-section tab-link-top" id="profiles">
        <div class="container-fluid">
            <div class="container">
                <h2 class="banner-header">Who We Are</h2>
                <div class="col-lg-1"></div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="team-card">
                        <div class="image-holder">
                            <a class="tab-link" href="#profilesFull" data-scroll="#zam">
                                <img class="team-image" src="/img/zam.jpg">
                            </a>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Zambrella</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="team-card">
                        <div class="image-holder">
                            <a class="tab-link" href="#profilesFull" data-scroll="#sam">
                                <img class="team-image" src="/img/sam.png">
                            </a>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Midnight</h1>
                        </div>
                    </div>     
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="team-card">
                        <div class="image-holder">
                            <a class="tab-link" href="#profilesFull" data-scroll="#dan">
                                <img class="team-image" src="/img/dan.PNG">
                            </a>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Dan 'Bateman' Scott Lintott</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="team-card">
                        <div class="image-holder">
                            <a class="tab-link" href="#profilesFull" data-scroll="#matt">
                                <img class="team-image" src="/img/matt.jpg">
                            </a>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Matt</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2">
                    <div class="team-card">
                        <div class="image-holder">
                            <a class="tab-link" href="#profilesFull" data-scroll="#suraj">
                                <img class="team-image" src="/img/suraj.jpg">
                            </a>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Suraj</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</template> -->