<template name="rules">
    <div id='rules' class="container-fluid content-section tab-link-mid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 data-toggle="collapse" data-target="#GENERAL-RULES">General Rules</h1>
                    <div id="GENERAL-RULES" class="collapse">
                        <ul>
                            <li>Admin has the last word on all matters.</li>
                            <li>Rules are subject to change and will be updated on this page.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 data-toggle="collapse" data-target="#PRE-GAME">PRE-GAME</h1>
                </div>
            </div>
            <div id="PRE-GAME" class="collapse">                      
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#LATE-ARRIVAL">Late Arrival</h2>
                    <div id="LATE-ARRIVAL" class="collapse">  
                        <ul>
                            <li>If your team is up to <span class="orange">10 min</span> late you will be penalized with a <span class="orange">Minimun Draft Pentalty</span> -30 seconds draft time</li>
                            <li>If your team is <span class="orange">10 - 20 min</span> late you will be penalized with a <span class="orange">Maximum Draft Pentalty</span> - 110 seconds draft time</li>
                            <li>After <span class="orange">20 min</span> if your whole team is not in the lobby you will be considered a <span class="orange">No Show</span>
                                Other team gets credited as a normal win, 3 points
                                For a team to be ready you need to have 5 players in the Lobby ready to go.</li>
                            </ul>
                            <p>A team will also be considered a <span class="orange">No Show</span> if they try to reschedule or cancel without giving at least 24 hours notice.</p>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#TSDO">Team Side & Drafting Order</h2>
                    <div id="TSDO" class="collapse">                          
                        <p>To decide which team will start on what side and who will have first/last pick we flip a coin.</p>
                        <ul>
                            <li>To flip a coin use the command /flip together with the opposing teams captain.</li>
                            <li>Team A captain will call either Heads or Tails.</li>
                            <li>Team B captain will then perform the /flip command.</li>
                            <li>The winnerof the flip will choose either Starting Side or Drafting Order.</li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#LOBBY">Lobby</h2>
                    <div id="LOBBY" class="collapse">                             
                        <ul>
                            <li>The lobby needs to be hosted 15 min prior to the game start.</li>
                            <li>The caster is responsible for hosting the lobby in addition to posting the name and the password on discord</li>
                            <li>The lobby needs to be public with a 7min delay with no spectators allowed.</li>
                            <li>Team B captain will then perform the /flip command.</li>
                            <li>If there is no caster this will fall on the Captain of Team A.</li>
                        </ul>
                    </div>
                </div>
                </div>                    
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#STAND-INS">Stand-Ins</h2>
                    <div id="LOBBY" class="collapse">                         
                        <ul>
                            <li>It is allowed to use stand-in players. However the team needs to have 3 out of 5 registred players to compete and the stand-in.</li>
                            <li>Please feel free to post on the FB group if you need a stand in.</li>
                            <li>This is an amateur league so please be reasonable with the MMR of your stand ins</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 data-toggle="collapse" data-target="#IN-GAME">IN-GAME</h1>
                </div>
            </div>
            <div id="IN-GAME" class="collapse"> 
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#TIMEOUT">Timeout</h2>
                    <div id="TIMEOUT" class="collapse">                           
                        <p>Every team is allowed to have a total of two timeouts during the game. This should be used for situations such as answering the door or going to the loo.</p>
                        <ul>
                            <li>A timeout will be called out in allchat and then you are allowed to pause the game 3 seconds later.</li>
                            <li>Every timeout is maximum 2 minutes long and if you would like to start the game again the captain will type that they are ready and the other team will reply if they are ready to go.</li>
                            <li>If the timeout is being abused for example pausing before a teamfight, this feature will be removed.</li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <h2 data-toggle="collapse" data-target="#DISCONNECT">Disconnect</h2>
                    <div id="DISCONNECT" class="collapse">                                 
                        <h2>Disconnect</h2>
                        <ul>
                            <li>If a disconnect occurs pause the game instantly allowing up to 10 minutes for them to fix their issue and reconnect to the game.</li>
                            <li>Every team has a total of 10 minutes to use for technical issues.</li>
                            <li>If a team exceed their allotted time the opposing team has the right to resume the game.</li>
                            <li>The opposing team is required to pause the game in the event that all the players on the oppsing team unintentionally disconnect.</li>
                            <li>Please use common sense and respect each other.</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 data-toggle="collapse" data-target="#POST-GAME">POST-GAME</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="POST-GAME" class="collapse"> 
                        <h2>Report Results</h2>
                        <ul>
                            <li>The captain of the winning team must email a screenshot of the end screen to their division's admin.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>