<template name="stream">
	<div id="stream" class="tab-link-mid container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div id="twitch" class="twitch-holder center-block">
					<iframe height=100% width=100% frameborder="0" scrolling="no" src="//player.twitch.tv/?channel=blinkdotauk&autoplay=false" allowfullscreen="true"></iframe>
				</div>
			</div>
		</div>
	</div>
</template>