<template name="teamProfilesFull">
    <!-- Profile Section -->
    <!--     <section class="content-section text-center"> -->
    <div class="profile-section tab-link-mid" id="teams-full-tryhard">
        <div class="container-fluid">
            <div class="container">
                <h2 class="banner-header">Try-Hard Tier Teams</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="eustas">
                            <div class="image-holder">
                                <img class="team-image" src="/img/team-logos/eustas-logo.png">
                            </div>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">eustas</h1>
                            <p>Last season’s BlinkDota champions are back and ready to defend their title. Having already had a taste of victory at Meltdown last year, the pressure is on for EUSTAS to try and repeat their performance. They are definitely at home in the Try Hard tier, but since season 1.0, the stakes have been upped and the competition has increased. Will the original BlinkDota champions be able to replicate their success.
                            </p>
                            <ul>
                                <li>Pokemaster889</li>
                                <li>Mr Nitrogen</li>
                                <li>Dota</li>
                                <li>Kancer of Keele</li>
                                <li>Zemonk</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="teamSenses">
                            <div class="image-holder">
                                <img class="team-image" src="/img/team-logos/Team-Senses-logo.png">
                            </div>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Team Senses</h1>
                            <p>Being founded in January 2016, Team Senses is a brand new eSports organisation that has picked up a variety of teams. Their Dota 2 team was formed at the beginning of this year from a mix of players from the UK Dota scene. They are all familiar names, having played at epic.LAN and Insomnia, but the important LAN will be BlinkDota’s this season as DoopZ quests for his first offline win. 
                            </p>
                            <ul>
                                <li>DoopZ</li>
                                <li>Mia khalifa</li>
                                <li>NepaliiJesus</li>
                                <li>Dacster</li>
                                <li>Flop</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="pubCrawlers">
                            <div class="image-holder">
                                <img class="team-image" src="/img/team-logos/Pub-Crawlers-logo.png">
                            </div>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Pub Crawlers</h1>
                            <p>Pub Crawlers have been crawling their way up the JoinDOTA League’s divisions since its 3rd season. The team easily progressed from the Starter Division (even beating the Try Hard tier admin’s then team Ministry of Feeding!) through to the lower tiers and finally peaking at division 3. They are now in amongst some of the heavy hitters of UK Dota and we will see if they can crawl out of the pubs and into tournament playoffs.
                            </p>
                            <ul>
                                <li>Prodigy</li>
                                <li>Zothi</li>
                                <li>LittleLichBitch</li>
                                <li>ScapeGoatz</li>
                                <li>Alex</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="modusPwnens">
                            <div class="image-holder">
                                <img class="team-image" src="/img/team-logos/Modus-Pwnens-logo.png">
                            </div>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Modus Pwnens</h1>
                            <p>Formed and named in the back seats of Computer Science lectures, Modus Pwnens are a group of high MMR (mostly) university students here in the UK. Having played under team names such as YOLOSWAG UK in last year’s November UK Open, they have since reasoned with themselves and come to a more sophisticated and logically valid name. Hopefully they can deduce a few wins and maybe even become the consequent of the LAN finals.
                            </p>
                            <ul>
                                <li>O l l i e</li>
                                <li>Error</li>
                                <li>Rainbow Warrior</li>
                                <li>Praise the Sun</li>
                                <li>Flood</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="team-card" id="TCA">
                            <div class="image-holder">
                                <img class="team-image" src="/img/team-logos/TCA-logo.png">
                            </div>
                        </div>
                        <div class="profile-info">
                            <h1 class="team-name">Terracotta Army eSports</h1>
                            <p>The runners up of the inaugural BlinkDota LAN final, TCA eSports are back and fresh with solid roster that has already competed in the March iSeries earlier this year. Unfortunately, they fell quickly to the lower bracket and could not mount a comeback in the LAN, so they will be looking for double redemption in season 2.0 of Blink: improving their record for the year and getting revenge against their BlinkDota rivals, EUSTAS’
                            </p>
                            <ul>
                                <li>Arky</li>
                                <li>Himz</li>
                                <li>ProfEpicman</li>
                                <li>Chai</li>
                                <li>BlueScale</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     </section> -->
</template>
