<template name="teams">
    <!-- Profile Section -->
    <!--     <section class="content-section text-center"> -->
    <div class="profile-section tab-link-mid" id="teams">
        <div class="container-fluid">
            <div class="container">
                <h2 class="banner-header" data-toggle="collapse" data-target="#THTT">Try-Hard Tier Teams</h2>
                <div id="THTT" class="collapse">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <a class="tab-link" href="#teams-full-tryhard" data-scroll="#eustas">
                                        <img class="team-image" src="/img/team-logos/eustas-logo.png">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">eustas</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <a class="tab-link" href="#teams-full-tryhard" data-scroll="#teamSenses">
                                        <img class="team-image" src="/img/team-logos/Team-Senses-logo.png">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Team Senses</h1>
                                </div>
                            </div>     
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <a class="tab-link" href="#teams-full-tryhard" data-scroll="#pubCrawlers">
                                        <img class="team-image" src="/img/team-logos/Pub-Crawlers-logo.png">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Pub Crawlers</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <a class="tab-link" href="#teams-full-tryhard" data-scroll="#modusPwnens">
                                        <img class="team-image" src="/img/team-logos/Modus-Pwnens-logo.png">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Modus Pwnens</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <a class="tab-link" href="#teams-full-tryhard" data-scroll="#TCA">
                                        <img class="team-image" src="/img/team-logos/TCA-logo.png">
                                    </a>
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Terracotta Army eSports</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
                <h2 class="banner-header" data-toggle="collapse" data-target="#LTT">Limbo Tier Teams</h2>
                <div id="LTT" class="collapse">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/crazy-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Crazy</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/enclave-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Team Enclave</h1>
                                </div>
                            </div>     
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/groovy-poonstars-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Groovy Poonstars</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/Kunkka-Rum-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Kunkka Rum</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/M4DP-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Moist 4 Death Prophet</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/pRAZE-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">PerliousRAZE</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="banner-header" data-toggle="collapse" data-target="#STT">Scrub Tier Teams</h2>
                <div id="STT" class="collapse">
                    <div class="row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/RAUK-main-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">RAUK</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/Say-Yes-To-Anime-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Say Yes To Anime</h1>
                                </div>
                            </div>     
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/Something-Different-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Something Different</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/The-Yellow-Friends-logo.jpg">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">The Yellow Friends</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2">
                            <div class="team-card">
                                <div class="image-holder">
                                    <img class="team-image" src="/img/team-logos/VB1-logo.png">
                                </div>
                                <div class="profile-info">
                                    <h1 class="team-name">Virtual Banter</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--     </section> -->
</template>



