<template name="toornament">
    <div id="toornament" class="container-fluid content-section tab-link-mid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="toornament-container text-center">
                    <iframe width="1008" height="567" src="https://widget.toornament.com/tournaments/56ddaabf150ba0dd578b45c9/stages/2?_locale=en_GB&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="toornament-container text-center">
                    <iframe width="1008" height="567" src="https://widget.toornament.com/tournaments/56dd79c8150ba0b2368b4569/stages/2?_locale=en_GB&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="toornament-container text-center">
                    <iframe width="1008" height="567" src="https://widget.toornament.com/tournaments/56dc75df150ba01f3b8b4567/stages/2?_locale=en_GB&theme=discipline" frameborder="0" scrolling="no" allowfullscreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>