/* CSS declarations go here */

@red: #8F323C;
@darkblue: #123943;
@lightblue: #80BDDB;
@blue: #4189AB;
@orange: #C98127;
@darkgrey: #332c2f;
@green: #b1eb00;
@bdred: #852429;
@bdheader:#8f2566;
@bdheader2:#912785;

@chatwidth: 340px;


@primary: #42DCA3;

@white: #f8f8f8;
@darkwhite:#cccccc;
@highlight: #912785;


.orange {
	color:@highlight
}



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    color: @darkwhite;
    font-size: 16px;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: @white;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	color:@bdheader;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	color:@bdheader2;
}




@media (min-width: 1480px) {
    .container {
        width: 1450px;
    }
}
@media (min-width: 1200px) and (max-width: 1479px)  {
    .container {
        width: 1200px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
    }
}


.navbarBGrepeat {
    width: 100%;
    position: relative;
    z-index: 10001;
    background-image: linear-gradient( to top, #171717, #111111, #040404, #010101 );
}

.navbarShadow {
	position: absolute;
    width: 100%;
    height: 29px;
    top: 50px;
    left: 0px;
    background-image: url('/img/header_bg_shadow.png');
    background-repeat: repeat-x;
    z-index: 100;
    pointer-events: none;
}

.navbarBG {
}


.navbarBGMiddle {
    width: 100%;
    position: relative;
    z-index: 10001;
    background-image: url('/img/bg_overview_navbar_x.jpg');
}


.navbarBGMid {
	background-position: center;
	position: absolute;
	height:52px;
	width: 100%;
	background-image: url('/img/bg_navbar_mid.jpg');
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #eee;
    color: black;
}

.navbar-default .navbar-nav  li {
    border-left: 1px solid grey;
}

.navbar-default .navbar-nav  li:first-child {
    border-left: none;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block       !important;
        float: none                 !important;
        vertical-align: top        !important;
    }

    .navbar .navbar-collapse {
        text-align: center      !important;
    }
}


.overview-content {
	padding-top: 50px;
}

.footer-image {
	display: inline-block;
	max-width: 100px;
	max-height:73.62px;
}
.copyright {
	display: inline-block;
	max-width: 700px;
	color: @darkgrey;
}

.coming-soon {
	text-align:center;
	padding-top: 145px;
}


.img-logo {
	height:45px;
    padding-top: 5px;
}

.navbar-middle {
	border-bottom: 1px grey solid;
	border-top: 1px black solid;
}

.navbar-top {
	border-bottom: 1px grey solid;
}

.banner-bg {
	background-color:black;
}

.banner-img {
	max-height:900px;
}

.navbar.navbar-default {
	margin-bottom: 0px;
}
.twitch-holder {
	padding-top: 50px;
    @media screen and (min-width:769px) {
        width:768px;
    }
    height: calc(~"100vh - 215px");
    @media screen and (max-width:768px) and (min-width:481) {
    	width: calc(~"100vh - 215px");       
    }
    @media screen and (max-width:480px) {
    display: none;
	}
}

.toornament-container {
	padding-top: 50px;
}

.discord-container {
	padding-top: 50px;
}

.tab-link-mid {
	display:none;
	padding-bottom: 50px;
	background-image: url('/img/bg_overview4.jpg');
	background-position: center;
	min-height: 620px;
}

.tab-link-top {
    display:none;
    padding-bottom: 50px;
    background-image: url('/img/bg_overview4.jpg');
    background-position: top-center;
    min-height: 620px;
}

.tab-link-mid:target {display:block;
}

.tab-link-top:target {display:block;
}

.tab-link-mid:target ~ #overview  {
  display: none;
}

.tab-link-top:target ~ #overview  {
  display: none;
}

#overview {
  display: block;
}





.footer-container {
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	border-top: 1px black solid;
}
#footer {
	background-color:#c2c2c2;
}

.banner-header {
	text-align: center;
}

    .profile-section {
    width: 100%;
    padding: 50px 0;
    color: grey;
    background-color: @white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#profiles {
    .team-card {
        padding: 20px;
        border-bottom: 1px #eee solid;
        .image-holder {
            display: inline-block;
            .team-image {
            	max-width: 165px;
                max-height: 300px;
            }
        }

        .profile-info {
            display: inline-block;
            padding-left: 10px;
            width:80%;

            .team-name {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 10px;
                font-size: 20px;
            }

            ul {
                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }
        }

        a {
            color: @darkblue;
            font-weight: 700;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            &:hover,
            &:focus {
                text-decoration: none;
                color: darken(@darkblue,20%);
            }
        }
    }
}


#profiles {
    .team-image {
         border-radius: 50%;
    }
}

#profilesFull {
    .team-image {
         border-radius: 50%;
    }
}

#teams {
    .team-card {
        position: relative;
        padding:10px;
        max-width: 160px;
        height: 260px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;

        .image-holder {
            display: inline-block;
            position: relative;
            height: 100%;

            .team-image {
                top:50%;
                max-width: 160px;
                max-height: 220px;
            }

        }

        .profile-info {
            position: absolute;
            bottom:0;
            width: 100%;

            .team-name {
                padding-top: 0;
                padding-bottom: 10px;
                max-width: 300px;
                font-size: 20px;
            }

            ul {
                text-align: left;
                font-size: 14px;
                font-weight: 400;
            }

        }

        a {
            color: @darkblue;
            font-weight: 700;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            &:hover,
            &:focus {
                text-decoration: none;
                color: darken(@darkblue,20%);
            }
        }
    }
}




#contact {
	padding-top: 50px;
	padding-bottom: 50px;
}
