@media (min-width: 768px) {
    .navbar-nav {
        display: inline-block       !important;
        float: none                 !important;
        vertical-align: top        !important;
    }

    .navbar-collapse {
        text-align: center      !important;
    }
}
@media (max-width: 768px) {
    .navbar-header {
    	padding-left: 15px   	 !important;
    }
}